:root {
  --primary-bg: #121420;
  --primary-bg2: #1b2432;
  --primary-bg3: #403f4c;
  --primary: #b76d68;
  --secondary: #95b8d1;

  --primary-text: #79828a;

  --font-size: 1rem;
  --gutter-width: 1rem;
}
