:root {
  --primary-bg: #{$primary-bg};
  --primary-bg2: #{$primary-bg2};
  --primary-bg3: #{$primary-bg3};
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tabs-bg: #{$tabs-bg};

  --primary-text: #{$primary-text};
  --primary-text-contrast: #{$primary-text-contrast};

  --font-size: #{$font-size};
  --gutter-width: #{$gutter-width};

  --border-radius: 3px;
}
