$primary-bg: #121420 !default;
$primary-bg2: #1b2432 !default;
$primary-bg3: #403f4c !default;
$primary: #b76d68 !default;
$secondary: #95b8d1 !default;
$primary-text: #79828a !default;
$font-size: 1rem !default;
$gutter-width: 1rem !default;

$tabs-bg: darken($primary-bg2, 4%);
