.outer-canvas {
  position: absolute;
  top: var(--gutter-width);
  left: var(--gutter-width);
  right: var(--gutter-width);
  bottom: var(--gutter-width);
}

.canvas {
  min-width: 100%;
  min-height: 100%;
}
